body {
    background-color: lightgray;
    
}
h1{
    color: skyblue;
    font-size: larger;

}
.container {
    background-color: white;
    width: 500px;
    height: 300px;
    border-radius: 10px;
}

#profile-container {
    background-color: white;
    width: 300px;
    height: 350px;
    border-radius: 10px;
    text-size-adjust: 100%;
}

img {
    border-radius: 500%;
    width:100px;
    height: 100px;
}

.contact-container {
    background-color: white;
    width: 600px;
    height: 400px;
    border-radius: 0%;
    margin: 0 auto;
}
.button {
    background-color: skyblue;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    width: 100%;
    height: 30px;
}

.about-container {
    background-color: white;
    width: 800px;
    height: 200px;
    border-radius: 20px;
    margin: 0 auto;
    text-align: center;
}
.input{
    border-radius: 20px;
    
}
input{
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 10px;
}
.solo{
    border-radius: 20px;

}
